* {
	padding: 0px;
	margin: 0px;
}

body {
	font-family: Roboto;
	background-color: #1e1e2e;
	color: #cdd6f4;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	margin: 5px 10px;
}

.boxOne{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	flex: 1;
	padding: 25px 20px;
	background-color: rgba(24, 24, 37, 0.8);
	margin: 0px 10px;
	margin-top: 30px;
	border-radius: 15px;
}

.container ul{
	list-style-type: ;
}

.container li{
	margin: 5px 0px;
	margin-left: 20px;
	list-style-type: circle;
}

.kenalan{
	padding-top: 10px;
	padding-bottom: 30px;
}

.kenalan h2{
	font-size: 50px;
}

.kenalan p{
	margin: 5px 0px auto;
	margin-left: 30px;
}

.riwayat{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
	gap: 30px;
}

.riwayat a{
	text-decoration: none;
	color: inherit;
}

.riwayat a:hover{
	color: rgba(235, 160, 172,1);
}

.riwayat label{
	font-size: 28px;
}

.info, .pendidikan, .bahasa{
	margin: 5px 0px;
	border-radius: 15px;
	padding: 20px;
	flex: 1 1 50%;
}

.info{
	background-color: rgba(23, 146, 153, 0.7);
}

.pendidikan{
	background-color: rgba(223, 142, 29, 0.7);
}

.bahasa{
	background-color: rgba(64, 160, 43, 0.7);
}